# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite database
*.db

# Pytest
.pytest_cache/

# Logs
*.log